<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align:center">
    <h2>Recommandations</h2>
    <form action="" method="POST">
	<label> Titre du film </label>
	<input type=”text” name="movie_title" value={{request.form.movie_title}}>

	<button type="submit"> Rechercher </button>
</form>
</body>
</html>